<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel= "stylesheet" href= "style.css">

</head>
<body>

<header>
  <div class="header">
    <div id="menu">
      <img src="assets/images/menu.png">
    </div>
    <h1>My Photo Album</h1>
  </div>
</header>

<div class="sidebar">
  <h2>Albums</h2>
</div>


</body>
</html>