<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel= "stylesheet" href= "style.css">

</head>
<body>

<div class="sidebar">
  <div class="elem"><h2>Albums</h2></div>
  <div class="elem"><h2>Photos</h2></div>
  <div class="elem"><div class="add"><img src="assets/images/22386577_1645453015536133_146092936_n.png"></div></div>
</div>



</body>
</html>