html, body {
  background-color: white;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

.sidebar {
  background-color: chocolate;
  width: 20%;
  height: 100%;
  text-align: center;
}

.header {
  margin: 20px;
  background-color: #528CE0;
}
