<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel= "stylesheet" href= "style.css">

</head>
<body>

<header>
  <h1>My Photo Album</h1>
</header>

<div class="sidebar">
  <h2>Albums</h2>
</div>


</body>
</html>

{{outlet}}